@model MyApp.ReadModel.Model.TaskDetailModel
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<form class="form-horizontal">
	<!--
    <div class="form-group">
        <label class="col-sm-2 control-label">Identifier</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Id</p>
        </div>
    </div>
	-->
    <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Title</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Priority</label>
        <div class="col-sm-10">
            <p class="form-control-static">@MyHelpers.PriorityToIcon(@Model.Priority)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-default" href="/Task/IncreasePriority/@Model.Id" role="button"><span class="glyphicon glyphicon-arrow-up"></span> Increase Priority</a>
            <a class="btn btn-default" href="/Task/DecreasePriority/@Model.Id" role="button"><span class="glyphicon glyphicon-arrow-down"></span> Decrease Priority</a>
            <a class="btn btn-default" href="/Task/Complete/@Model.Id" role="button"><span class="glyphicon glyphicon-ok"></span> Complete Task</a>
        </div>
    </div>
</form>